<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Contact</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" routerLink="/">Home</a></li>
                        <!-- <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li> -->
                        <li class="breadcrumb-item text-white active" routerLink="contact">Contact</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Contact</h6>
            <h1 class="mb-5">Contact For Any Query</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/logodemo.png" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">

                    </div>
                    <div class="text-center p-4 mh">
                        <h5 class="mb-0">Corporate office</h5>
                        <small>Near Ram mandir Road jaswantpura pura Aurangabad</small>

                    </div>
                    <a class="btn  btn-primary mx-1 sw" href="tel:+917263858888"><i class="fa fa-phone-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/logodemo.png" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">

                    </div>
                    <div class="text-center p-4 mh">
                        <h5 class="mb-0">Ahmadnagar Office</h5>
                        <small>Kharadi, chandan nagar pune, ms Link Road ghatkopar mumbai ms Galaxy apartment savedi Ahmadnagar</small>

                    </div>
                    <a class="btn  btn-primary mx-1 sw" href="tel:+917263858888"><i class="fa fa-phone-alt"></i></a>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/logodemo.png" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">

                    </div>
                    <div class="text-center p-4 mh">
                        <h5 class="mb-0">Mumbai Office</h5>
                        <small>Link Road, Ghatkopar, Mumbai(MS)</small>

                    </div>
                    <a class="btn  btn-primary mx-1 sw" href="tel:+917263858888"><i class="fa fa-phone-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/logodemo.png" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">

                    </div>
                    <div class="text-center p-4 mh">
                        <h5 class="mb-0">Pune Office</h5>
                        <small >Kharadi, Chandan Nagar, Pune</small>

                    </div>
                    <a class="btn  btn-primary mx-1 sw" href="tel:+917263858888"><i class="fa fa-phone-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">

        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <iframe
src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3749.5716232669256!2d73.7801329752286!3d19.984509781416207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDU5JzA0LjIiTiA3M8KwNDYnNTcuOCJF!5e0!3m2!1sen!2sin!4v1718978869849!5m2!1sen!2sin"
width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">

                    </div>
                    <div class="text-center p-4 mh">
                        <h5 class="mb-0">Corporate office</h5>
                        <small>Near Ram mandir Road jaswantpura pura Aurangabad</small>

                    </div>
                    <a class="btn  btn-primary mx-1 sw" href="tel:+917263858888"><i class="fa fa-phone-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <iframe
src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3749.5716232669256!2d73.7801329752286!3d19.984509781416207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDU5JzA0LjIiTiA3M8KwNDYnNTcuOCJF!5e0!3m2!1sen!2sin!4v1718978869849!5m2!1sen!2sin"
width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">

                    </div>
                    <div class="text-center p-4 mh">
                        <h5 class="mb-0">Ahmadnagar Office</h5>
                        <small>Kharadi, chandan nagar pune, ms Link Road ghatkopar mumbai ms Galaxy apartment savedi Ahmadnagar</small>

                    </div>
                    <a class="btn  btn-primary mx-1 sw" href="tel:+917263858888"><i class="fa fa-phone-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <iframe
                        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3749.5716232669256!2d73.7801329752286!3d19.984509781416207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDU5JzA0LjIiTiA3M8KwNDYnNTcuOCJF!5e0!3m2!1sen!2sin!4v1718978869849!5m2!1sen!2sin"
                        width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">

                    </div>
                    <div class="text-center p-4 mh">
                        <h5 class="mb-0">Mumbai Office</h5>
                        <small>Link Road, Ghatkopar, Mumbai(MS)</small>

                    </div>
                    <a class="btn  btn-primary mx-1 sw" href="tel:+917263858888"><i class="fa fa-phone-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <iframe
src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3749.5716232669256!2d73.7801329752286!3d19.984509781416207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDU5JzA0LjIiTiA3M8KwNDYnNTcuOCJF!5e0!3m2!1sen!2sin!4v1718978869849!5m2!1sen!2sin"
width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">

                    </div>
                    <div class="text-center p-4 mh">
                        <h5 class="mb-0">Pune Office</h5>
                        <small >Kharadi, Chandan Nagar, Pune</small>

                    </div>
                    <a class="btn  btn-primary mx-1 sw" href="tel:+917263858888"><i class="fa fa-phone-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                  <a  href="tel:+917263858888">
                    <div class="p-4">
                      <i class="fa fa-phone-alt"></i>
                        <h5 class="mb-3">Call us Now</h5>
                    </div>
                  </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                  <a  href="https://wa.me/917263858888?text=Hello www.solarwalaa.com, i have a query" target="_blank">
                    <div class="p-4">
                        <i class="fab fa-whatsapp"></i>
                        <h5 class="mb-3">Whatsapp us Now</h5>
                    </div>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>



