<app-carousel></app-carousel>
    <!-- Service Start -->
     <h1 class="text-center">Welcome to the www.solarwala.com</h1>
     <h3 class="text-center">Your Trusted Partner for Solar Energy Solutions!</h3>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <!-- <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i> -->
                            <h5 class="mb-3">Monocrystalling Solar Panels</h5>
                            <p>High efficiency rate: optimised for commercial use; high life-time value</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <!-- <i class="fa fa-3x fa-globe text-primary mb-4"></i> -->
                            <h5 class="mb-3">Polycrystalline Solar Panels</h5>
                            <p>Lower price, you can quickly distinguish these panels because this is squares.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <!-- <i class="fa fa-3x fa-home text-primary mb-4"></i> -->
                            <h5 class="mb-3">Amorphos Silicon Solar Panels</h5>
                            <p>Relatively low consts; easy to produce and flexible. it use triple layered technology</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <!-- <i class="fa fa-3x fa-book-open text-primary mb-4"></i> -->
                            <h5 class="mb-3">Concentrated PV Cell (CVP)</h5>
                            <p>Very high performance and efficiency rate. those multi-junction solar panels</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="assets/img/cat-3.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="mb-4">www.solarwalaa.com</h1>
                    <p class="mb-4">Welcome to the country's most advanced Solar Mounting System product directory. By www.solarwalaa.com Solar Installers, Systems and Structures including ms work, GI work Vendors can use our advanced technology to install precise PV Mounting Systems that match their needs. We've gathered mounting system data from manufacturers across the country into a common template, so you can easily compare and review mounting systems. We also offer quality certification data which is collected directly from certification laboratories, and we have a team of excellent designer engineers at your service to design it all, with you can easily check the mounting system certification . You can select the type of mounting system you are looking for, Which you can easily get all the facilities under one roof solarservicewala.com.</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Expert Solutions</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>High-Quality Solar Panels</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Affordable Solar Financing</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>End-to-End Services</p>
                        </div>

                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" routerLink="/about">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Categories Start -->
    <div class="container-xxl py-5 category">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Our Services</h6>
                <h3 class="mb-5"> we believe in harnessing the power of the sun to create a cleaner, greener, and more sustainable future. </h3>
            </div>
            <div class="row g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden">
                                <img class="img-fluid" src="assets/img/cat-1.jpg" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Residential Solar Solutions</h5>
                                    <small class="text-primary">Enjoy reduced electricity bills</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" >
                                <img class="img-fluid" src="assets/img/cat-2.jpg" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Commercial Solar Installations</h5>
                                    <small class="text-primary">We specializes in helping businesses</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" >
                                <img class="img-fluid" src="assets/img/cat-3.jpg" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Solar Maintenance & Support</h5>
                                    <small class="text-primary">We offer ongoing maintenance and support</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden">
                        <img class="img-fluid position-absolute w-100 h-100" src="assets/img/cat-4.jpg" alt="" style="object-fit: cover;">
                        <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                            <h5 class="m-0">Solar Financing & Incentives</h5>
                            <small class="text-primary">We helps you take advantage of available government rebates and incentives.</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Start -->


    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Work Done</h6>
                <h1 class="mb-5">Professional Work</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="assets/img/course-1.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a routerLink="/about" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a routerLink="/form" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <!-- <h3 class="mb-0">$149.00</h3> -->
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <!-- <small>(123)</small> -->
                            </div>
                            <h5 class="mb-4">Solar shade structures that work well and look great | PVDynamics</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i></small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i></small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i></small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="assets/img/course-2.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a routerLink="/about" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a routerLink="/form" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <!-- <h3 class="mb-0">$149.00</h3> -->
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <!-- <small>(123)</small> -->
                            </div>
                            <h5 class="mb-4">Solar shade structures that work well and look great | PVDynamics</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i></small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i></small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i></small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="assets/img/course-3.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a routerLink="/about" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a routerLink="/form" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <!-- <h3 class="mb-0">$149.00</h3> -->
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <!-- <small>(123)</small> -->
                            </div>
                            <h5 class="mb-4">Solar shade structures that work well and look great | PVDynamics</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i></small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i></small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Projects</h6>
                <h1 class="mb-5">Highly Demanding</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="assets/img/product1.jpg" alt="">
                        </div>
                        
                        <div class="text-center p-4 hig">
                            <h5 class="mb-0">ACDB-DCDB</h5>
                            <small>【AC MCB】Fast tripping Top Brand AC MCB for complete protection and fault prevention. This MCB will de-energize the entire AC circuitry in case of overload, short circuit and extra amperes.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="assets/img/product2.jpg" alt="">
                        </div>
                        
                        <div class="text-center p-4 hig">
                            <h5 class="mb-0">Solar Lights</h5>
                            <small>【All In One Solar Light】Solar street light with 56 nos. of high quality LEDs, inbuilt 6Ah lithium iron phosphate battery (LiFePO4 Battery) and a high efficiency solar panel. It can provide continuous lighting for 10-13 hours after being charged for 5-7 hours.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="assets/img/product3.jpg" alt="">
                        </div>
                        
                        <div class="text-center p-4 hig">
                            <h5 class="mb-0">Solar Cleaning</h5>
                            <small>[ High Precision Operation ]  Ensures accurate and consistent performance for demanding tasks.
                                [ Durable Construction ]  Built with high-quality materials for long-term reliability and durability.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="assets/img/product4.jpg" alt="">
                        </div>
                        
                        <div class="text-center p-4 hig">
                            <h5 class="mb-0">LA & Earthing</h5>
                            <small>[ High Durability ]   Built to withstand extreme weather and high-energy surges.
                                [ Fast Response Time ]  Activates instantly to divert lightning energy to the ground.</small>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="assets/img/product5.jpg" alt="">
                        </div>
                        
                        <div class="text-center p-4 hig">
                            <h5 class="mb-0">FUSE, SPD & MCB</h5>
                            <small>【500V 20A Protection】Complete protection against short-circuit, overload and extra amperes for DC circuit and DC equipment.
                                【Quick Tripping】 Fast tripping system i.e. >0.1 sec. for complete DC circuit protection.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="assets/img/product6.jpg" alt="">
                        </div>
                        
                        <div class="text-center p-4 hig">
                            <h5 class="mb-0">MC4 Connector</h5>
                            <small>【Heavy Duty MC4 Wire Connector】 10 Sq. mm MC4 Solar Connector Conductor Pins are Made of Copper with Outer Tin Plated. Made of High-Quality PPO + PA material, It makes a rock-solid connection after you crimp the pin with wire, and these are operated perfectly under heavy loads up to 60 AMP.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="assets/img/product7.jpg" alt="">
                        </div>
                        
                        <div class="text-center p-4 hig">
                            <h5 class="mb-0">Solar DC Wire</h5>
                            <small>【UV Protected】Kenbrook 10 mm² solar wire is a UV-protected DC wire with a low conductor resistance and high mechanical strength, making it suitable for use in extreme weather conditions.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="assets/img/product8.jpg" alt="">
                        </div>
                        
                        <div class="text-center p-4 hig" >
                            <h5 class="mb-0">UTL Solar</h5>
                            <small>Excellent power generation even in low light irradiation
                                2 mm toughened textured glass for front protection.
                                Highly efficient solar panels with more than 18% efficiency.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <!-- <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
                <h1 class="mb-5">Our Students Say!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="assets/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="assets/img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="assets/img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
